<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task Title</th>
        <th scope="col">Task Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Task Completed</th>
        <th scope="col">Assigned Users</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.dueDate }}</td>
        <td>{{ task.completed ? 'Completed' : 'Not Completed' }}</td>
        <td class="usersTD">
            <mat-chip *ngFor="let user of task.assignedUsers" class="assigned-chip">
              {{ user.firstName }} ({{ user.email }})
            </mat-chip>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
