<div class="container mt-4">
  <h2>Create Task</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter task title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" placeholder="Enter task description"></textarea>
    </div>
    <div class="form-group">
      <label for="assignedUsers">User</label>
      <select multiple class="form-control" id="assignedUsers" formControlName="assignedUsers">
        <option *ngFor="let user of users" [value]="user">{{ user.firstName + ' ' + user.lastName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dueDate">Due Date</label>
      <input type="date" class="form-control" id="dueDate" formControlName="dueDate">
<!--      <small class="form-text text-danger" *ngIf="taskForm.get('dueDate').hasError('pastDate')">Due date must be in the future.</small>-->
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="completed" formControlName="completed">
      <label class="form-check-label" for="completed">Completed</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
